


.position{
    padding-top: 35px;
}
.rating{
    display: flex;
    color:rgb(160, 110, 110);
    

}

.rating input{
    display: none;
}

.rating input + label{
    font-size: 60px;
    cursor: pointer;
}

.rating input:checked + label ~ label{
    color: yellow;
}

.rating label :active{
    transform: scale(0.8);
    transition: 0.3s ease;
}
h5{
    padding-top: 20px;
}

